<div class="flex flex-col min-h-screen bg-gray-100">
    <app-navbar></app-navbar>
    <div class="flex-grow flex justify-center items-center">
      <div class="w-full max-w-md p-8 space-y-4 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Add New Employee</h1>
        <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()" class="space-y-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="salary" placeholder="50000">
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" class="w-full">
            Add Employee
          </button>
        </form>
  
        <div *ngIf="isEmployeeAdded" class="text-green-500 text-center">
          Employee added successfully.
        </div>
        <div *ngIf="addEmployeeError" class="text-red-500 text-center">
          Error adding employee. Please try again.
        </div>
      </div>
    </div>
</div>